required-icon {
  color: red;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon {
  width: 172px;
  height: 42px;
}


.deleteDivButton {
    display: inline;
}

.deleteDivButton .hide-first-icon  {
    display: none;
}