{% extends 'admin/master.html' %} {% block body %} {% if
current_user.is_authenticated %}
<h1 class="text-center text-info">CHÀO MỪNG ĐẾN TRANG QUẢN TRỊ!!!</h1>
<h2 class="text-danger">Chào {{ current_user.username }}</h2>
    <div class="row">
        <div class="col-md-5 col-xs-12">
            <table class="table">
                <tr>
                    <th>Tên thuốc</th>
                    <th>Đơn vị tính</th>
                    <th>Số lần dùng</th>
                    <th>Số lượng</th>
                </tr>
                {% for s in stats %}
                    <tr>
                        <th>{{ s[0] }}</th>
                        <th>{{ s[1] }}</th>
                        <th>{{ s[2] }}</th>
                        <th>{{ s[3] }}</th>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-7 col-xs-12">
            <div>
                <canvas id="myChart"></canvas>
            </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                let labels = [], info = [], colors = [], borderColors = [], r, g, b

                {% for s in stats %}
                    labels.push('{{ s[1] }}')
                    info.push({{ s[2] }})

                    r = Math.random()*255
                    g = Math.random()*255
                    b = Math.random()*255

                    colors.push(`rgba(${r}, ${g}, ${b}, 0.5)`)
                    borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)
                {% endfor %}
                window.onload = function () {
                    const ctx = document.getElementById('myChart').getContext('2d')
                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'Thống kê tần suất sử dụng thuốc',
                                data: info,
                                borderWidth: 1,
                                backgroundColor: colors,
                                borderColors: borderColors
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                }
            </script>
        </div>
    </div>


{% else %}
<div class="card-wrapper">
  <section class="h-100">
    <div class="container h-100">
      <div class="row justify-content-sm-center h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
          <div class="card shadow-lg">
            <div class="card-body p-5">
              <h1 class="fs-4 card-title fw-bold mb-4">Đăng nhập quản trị</h1>
              <form method="POST" action="/admin/login" autocomplete="off">
                <div class="mb-3">
                  <label class="mb-2 text-muted" for="username"
                    >Tên đăng nhập</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    required
                  />
                </div>

                <div class="mb-3">
                  <div class="mb-2 w-100">
                    <label class="text-muted" for="password">Mật khẩu</label>
                  </div>
                  <input
                    id="password"
                    type="password"
                    class="form-control"
                    name="password"
                    required
                  />
                </div>

                <div class="d-flex align-items-center">
                  <button type="submit" class="btn btn-primary ms-auto">
                    Login
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endif %} {% endblock %}
